.pomps-list-item{ class: ('for_padding' if index % 4 != 0)}
  .pomps-list-item-img
    = image_tag pomp.image.url(:for_index)
  .pomps-list-item-title
    = pomp.title
  .pomps-list-item-price_button
    .pomps-list-item-price
      .pomps-list-item-price-count
        = pomp.price
        %span P
    .pomps-list-item-button-wrapper
      = link_to 'Купить', '#', class: 'pomps-list-item-button js_add_accessory', data: { title: pomp.title, amount: 1, price: pomp.price, id: pomp.id }
