.article
  - if article.image.present?
    .article-image
      = image_tag article.image_url(:medium)
  .article-body
    .article-body-title
      = article.title
    .article-body-desc
      = article.grow_descript
  .article-link_show
    = link_to 'Подробнее', events_show_path(article.id)
