@import '../config';

.profile {
  margin: 30px auto;
  width: 90%;
  text-align: center;

  @include media(xs){
    width: 100%;
    box-sizing: border-box;
    padding: 0 10px;
  }

  .profile_menu {
    text-align: center;
    font-family: 'MuseoSansCyrl';
    font-size: 18px;
    margin: 20px;
    padding-bottom: 15px;
    border-bottom: 1px solid #989899;
    a {
      padding: 10px;
      color: #0080bb;
    }
  }
  table {
    margin: 10px auto;
  }
  form {
    font-size: 16px;
    font-family: 'MuseoSansCyrl';
    margin: 20px;

    @include media(xs){
      margin: 0;
    }

    .field {
      margin: 5px 0;
    }
    label {
      width: 160px;
      display: inline-block;
      text-align: left;
      line-height: 35px;

      @include media(xs){
        width: auto;
        text-align: right;
        margin-right: 20px;
      }
      @include media(sm){
        width: auto;
        text-align: right;
        margin-right: 20px;
      }
    }
    input {
      width: 300px;
      line-height: 35px;
      padding: 0 10px;

      @include media(xs){
        width: 100%;
        box-sizing: border-box;
        border: solid 1px rgba(0, 0, 0, 0.4);
      }
      @include media(sm){
        box-sizing: border-box;
        border: solid 1px rgba(0, 0, 0, 0.4);
      }
    }
    input.red_button {
      margin-top: 15px;
      width: inherit;

      @include media(xs){
        width: 100%;
        font-size: 11px;
        padding: 0 10px;
      }
    }
  }
}